In [1]:
import pandas as pd

In [2]:
master = pd.read_csv('../data/contact_master.csv')

In [4]:
match = pd.read_csv('../data/contact_match.csv')

In [6]:
master.head()

,LAST_NAME,MIDDLE_NAME,FIRST_NAME,FIRM_NAME,OFFICE_NAME,EMAIL_ADDRESS,BUSINESS_PHONE,ADDRESS_LINE_1,ADDRESS_LINE_2,CITY,STATE_PROVINCE,POSTAL_CODE_1,POSTAL_CODE_2,COUNTRY_ID,CRD_NUMBER,CONTACT_ID
0,Chamberlain/Lehnhardt/Ruboyianes,NaN,Scott/Robert/Andrew,UBS Financial Services Inc,UBS Financial Services Inc,NaN,NaN,10801 W Charleston Blvd Ste 400,NaN,Las Vegas,NV,89135,1205.0,US,NaN,00064171614243086813
1,Moorehead,Irene,Janetta,UBS Financial Services Inc,UBS Financial Services Inc,janetta.moorehead@ubs.com,(800) 754-5670,1145 Broadway Ste 1400,NaN,Tacoma,WA,98402,3587.0,US,2484990.0,00063161073787150128
2,Brucato,Cathlyn,Regina,UBS Financial Services Inc,UBS Financial Services Inc,nikki.brucato@ubs.com,(310) 772-8062,1999 Avenue Of The Stars Ste 3600,NaN,Los Angeles,CA,90067,4649.0,US,2271551.0,00063161064072992120
3,McGuirk,Francsi,James,UBS Financial Services Inc,UBS Financial Services Inc,james.mcguirk@ubs.com,(310) 281-4651,131 S Rodeo Dr Ste 300,NaN,Beverly Hills,CA,90212,2416.0,US,2213402.0,00063161064296361995
4,Peluso,Marie,Elaine,UBS Financial Services Inc,UBS Financial Services Inc,elaine.peluso@ubs.com,(925) 746-0218,1255 Treat Blvd Ste 1000,NaN,Walnut Creek,CA,94597,7981.0,US,2051831.0,00063161064385280397

In [8]:
master.dtypes

LAST_NAME          object
MIDDLE_NAME        object
FIRST_NAME         object
FIRM_NAME          object
OFFICE_NAME        object
EMAIL_ADDRESS      object
BUSINESS_PHONE     object
ADDRESS_LINE_1     object
ADDRESS_LINE_2     object
CITY               object
STATE_PROVINCE     object
POSTAL_CODE_1      object
POSTAL_CODE_2     float64
COUNTRY_ID         object
CRD_NUMBER        float64
CONTACT_ID         object
dtype: object

In [ ]:
self.datasets[i]